@import "tailwindcss";
 
/* Login page background */
.login-bg {
	min-height: 100vh;
	background: linear-gradient(120deg, #f8f8f8 0%, #eaeaea 100%);
		position: relative;
		overflow: hidden;
		background-image: url('./assets/background.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

    }
    body{
    font-family: "Inter", sans-serif;
}

.login-bg > * {
	position: relative;
	z-index: 1;
}
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  width: 50%;
  max-width: 1100px;
  background: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
  animation: scaleUp 0.4s ease;
}